@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-laptop::after {
  background: url("/public/assets/ellipse_laptop.png");
  background-repeat: no-repeat;
  right: 0;
  top: 0;
  position: absolute;
  z-index: 40;
}
